.dashboard-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.dashboard-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: rgb(201, 239, 234);
  margin-top: 80px;
  box-sizing: border-box;
  width: 100%;
  margin-left: 200px;
}

.dashboard-title {
  text-align: center;
  margin-bottom: 20px;
}

.dashboard-subtitle {
  margin-bottom: 15px;
  text-align: left;
}

.dashboard-status-msg {
  text-align: center;
}

.dashboard-error-msg {
  color: red;
  text-align: center;
  font-weight: bold;
}

.dashboard-achievements {
  margin-bottom: 30px;
}

.dashboard-row {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
}

.dashboard-box,
.dashboard-chart {
  flex: 1;
  padding: 20px;
  border-radius: 12px;
  background-color: rgba(119, 179, 192, 0.7);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 550px;
}

.dashboard-box p {
  margin: 10px 0;
}

.dashboard-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px; /* Ensure consistent chart height */
}

@media (max-width: 768px) {
  .dashboard-row {
    flex-direction: column;
  }
}

.dashboard-orders {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.dashboard-table th,
.dashboard-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.dashboard-table th {
  background-color: #333;
  color: white;
}

.dashboard-table tr:hover {
  background-color: #f1f1f1;
}

.dashboard-month-select {
  margin-bottom: 20px;
}

.dashboard-month-select label {
  font-size: 16px;
  font-weight: 600;
  margin-right: 10px;
}

.dashboard-select {
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}