/* RInventory Layout */
.r-inventory-wrapper {
  display: flex;
  height: 100vh;
}
.r-inventory-main-section h1 {
  text-align: center;
  font-size: 40px;
  color: #003f4f;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}
.r-inventory-main-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 280px;
  padding-top: 60px; /* Adjust to move table below sidebar and navbar */
}

.r-inventory-table-wrapper {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 75vh;
  margin-top: 0;
}

.r-inventory-data-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 0;
}

.r-inventory-data-table th,
.r-inventory-data-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  white-space: nowrap;
}

.r-inventory-data-table th {
  background-color: #003f4f;
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

.r-inventory-data-table th:nth-child(1),
.r-inventory-data-table td:nth-child(1) {
  width: 15%;
}

.r-inventory-data-table th:nth-child(2),
.r-inventory-data-table td:nth-child(2) {
  width: 20%;
}

.r-inventory-data-table th:nth-child(3),
.r-inventory-data-table td:nth-child(3) {
  width: 20%;
}

.r-inventory-data-table th:nth-child(4),
.r-inventory-data-table td:nth-child(4) {
  width: 20%;
}

.r-inventory-data-table th:nth-child(5),
.r-inventory-data-table td:nth-child(5) {
  width: 10%;
}

.r-inventory-data-table th:nth-child(6),
.r-inventory-data-table td:nth-child(6) {
  width: 10%;
}

.r-inventory-data-table th:nth-child(7),
.r-inventory-data-table td:nth-child(7) {
  width: 15%;
}

.r-inventory-data-table tbody tr:nth-child(odd) {
  background-color: #e6f7ff;
}

.r-inventory-data-table tbody tr:nth-child(even) {
  background-color: #cce7f0;
}

.r-inventory-days-to-expiry {
  color: red;
  font-weight: bold;
}

.r-inventory-low-stock {
  background-color: rgba(228, 99, 99, 0.7);
}

.r-inventory-return-button {
  background-color: #3498db;
  border-color: #3498db;
  cursor: pointer;
  padding: 5px 10px;
  color: white;
  font-size: small;
  font-weight: bold;
  border-radius: 5px;
}

.r-inventory-return-button:hover {
  background-color: #003f4f;
}