/* Admin Layout */
.admin-layout {
  display: flex;
  height: 100vh;
  overflow: hidden; /* Prevent double scrollbars */
}

.admin-content {
  margin-left: 250px;
  width: calc(100% - 250px);
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Expiry Alert Section */
.expiry-alert-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Scrollable Table Wrapper */
.expiry-alert-table-wrapper {
  max-height: 500px; /* Adjust table visible height */
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* Expiry Alert Title */
.expiry-alert-title {
  text-align: center;
  font-size: 40px;
  color: #003f4f;
  margin-top: 50px;
  margin-bottom: 0px;
  font-weight: bold;
}

/* Search Container */
.expiry-alert-search-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 0px;
}

.expiry-alert-search-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expiry-alert-search-input {
  padding: 8px;
  border: 1px solid #0f0b21;
  border-radius: 5px;
  width: 200px;
}

.expiry-alert-search-button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: #003f4f;
  color: white;
}

.expiry-alert-search-button:hover {
  background-color: #1f077a;
}

/* Expiry Alert Table */
.expiry-alert-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.expiry-alert-table th,
.expiry-alert-table td {
  padding: 10px;
  border: 1px solid #ddd;
  white-space: nowrap;
  text-align: center;
}

.expiry-alert-table th {
  background-color: #003f4f;
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

/* Make Medicine Name column wider */
.expiry-alert-table th:nth-child(1),
.expiry-alert-table td:nth-child(1) {
  width: 20%;
}

/* Alternating Row Colors */
.expiry-alert-table tbody tr:nth-child(odd) {
  background-color: #e6f7ff;
}

.expiry-alert-table tbody tr:nth-child(even) {
  background-color: #cce7f0;
}

/* Expiry Date Alert */
.expiry-alert-days-to-expiry {
  color: red;
  font-weight: bold;
}

/* Stock Level Colors */
.expiry-alert-low-stock {
  background-color: rgba(228, 99, 99, 0.7);
}

/* Action Button */
.expiry-alert-return-button {
  background-color: #3498db;
  border-color: #3498db;
  cursor: pointer;
  padding: 5px 10px;
  color: white;
  font-size: small;
  font-weight: bold;
  border-radius: 5px;
}

.expiry-alert-return-button:hover {
  background-color: #003f4f;
}