.admin-layout {
  display: flex;
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px; /* Adjust this value based on the width of your sidebar */
}

.page-title {
  font-size: 2.2rem;
  font-weight: 600;
  color: #333;
  margin-top: 50px;
  margin-bottom: 16px;
}

.search-bar {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: rgb(201, 239, 234);
  z-index: 1;
  padding: 10px 0;
}

.search-bar input {
  padding: 10px;
  width: 250px;
  border: 2px solid #ddd;
  border-radius: 4px;
}

.table-container {
  max-height: 500px;
  overflow-y: auto;
  margin-top: 20px;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
  background: #a4d5de;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  table-layout: fixed;
}

.orders-table th, .orders-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.orders-table th {
  background-color: #003f4f;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.orders-table tbody tr:nth-child(odd) {
  background-color: #e6f7ff;
}

.orders-table tbody tr:nth-child(even) {
  background-color: #cce7f0;
}

.orders-table th:nth-child(1), .orders-table td:nth-child(1) {
  width: 10%;
}

.orders-table th:nth-child(2), .orders-table td:nth-child(2) {
  width: 30%;
}

.action-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  font-size: 20px;
  display: inline-block;
}

button.view {
  background-color: transparent;
  color: #3498db;
}

button.confirm {
  background-color: transparent;
  color: #278a50;
}

button.delete {
  background-color: transparent;
  color: #e74c3c;
}